.logo {
  position: absolute;
  width: 291px;
  height: 239px;
  left: 64px;
  top: 57px;
  z-index: 1;
  cursor: pointer;
}

.categoryCardWrapper {
  transition: all 0.5s ease-in-out;
}

.categoryCardWrapper:hover {
  transform: translateY(-2%);
}

/* BANNER */
/* .bannerBg {
  height: 500px;
  background-image: url("./Assets/Images/world.png"),
    url("./Assets/Images/butterfly.png"), url("./Assets/Images/Group.png");
  background-position: bottom left, center center, top right;
  background-repeat: no-repeat;
} */

@media screen and (max-width: 900px) {
  .logo {
    display: none;
  }
}
